@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	color: white;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	text-align: center;
}
img {
	width: 500px;
	display: block;
	margin: 20px;	
}

div {
	border: 5px solid aqua;
	width: 600px;
	margin: 50px;
	padding:30px;
}

a {
	color: aqua;
	text-decoration: none;	
	transition: all 0.3s ease;
}

a:hover {
	padding-left: 20px;
	color: pink;
	font-size: 40px;
	
}

.p1 {
	color: purple;
}

#p1 {
	color: yellow;
}
